In [159]:
from pymongo import MongoClient
import pandas as pd
import re
import requests
import json


client = MongoClient('mongodb://localhost:27017/')
db = client.company

In [160]:
#query to filter database by deadpooled year, employees, founded year, lat and long. 

query= db.company.find({
    "$and":
    [{"deadpooled_year":None},
     {"number_of_employees":{"$ne":None}},
     {"founded_year":{"$gte":2007}},
     {"offices.longitude":{"$exists":True}},
     {"offices.latitude":{"$ne":None}},
     {"offices.longitude":{"$ne":None}},
     {"offices.longitude":{"$exists":True}
     }
    ]
}
)

In [162]:
print(query)

<pymongo.cursor.Cursor object at 0x14bac3828>

In [163]:
with_coords = pd.DataFrame(query)
with_coords.shape

(2152, 42)

In [164]:
#New DF with filtered columns
with_coords2 = with_coords[['_id','name','number_of_employees','category_code','offices','founded_year','ipo','funding_rounds','total_money_raised','investments','deadpooled_year','partners']]
with_coords2.head(100)
with_coords2.shape

(2152, 12)

In [178]:
#Get Offices

get_offices= pd.DataFrame(with_coords2['offices'].tolist()).stack().reset_index(level=1, drop=True)
office = get_offices.rename('office')
office.shape

(2292,)

In [189]:
#merge dataframe with new columns

df_clean= with_coords2.merge(office, left_index= True, right_index=True)

df_clean = df_clean[['name','number_of_employees','category_code','office','ipo','total_money_raised','founded_year','deadpooled_year','offices']]
df_clean.head(100)
print(df_clean[['office']])

                                                 office
0     {'description': 'HQ', 'address1': '539 Bryant ...
1     {'description': None, 'address1': '', 'address...
2     {'description': '', 'address1': '3525 Eastham ...
3     {'description': 'Livestream HQ', 'address1': '...
4     {'description': '', 'address1': '131 Varick St...
5     {'description': '', 'address1': '1459 18th Str...
6     {'description': None, 'address1': None, 'addre...
7     {'description': '', 'address1': '16161 Ventura...
8     {'description': 'Arts & Crafts', 'address1': '...
9     {'description': None, 'address1': None, 'addre...
10    {'description': '', 'address1': '53 S Knoll Rd...
11    {'description': '', 'address1': '1550 Bryant S...
12    {'description': None, 'address1': None, 'addre...
13    {'description': 'GoingOn Networks, Inc.', 'add...
14    {'description': '', 'address1': '', 'address2'...
15    {'description': '', 'address1': '', 'address2'...
16    {'description': 'boo-land', 'address1': 'Av. F...
17    {'description': '', 'address1': '181 Fremont S...
18    {'description': 'headquarter', 'address1': '17...
19    {'description': '', 'address1': '300 S Ellswor...
20    {'description': 'HQ', 'address1': '1050 Walnut...
21    {'description': 'HQ', 'address1': '325 Lytton ...
22    {'description': '', 'address1': '129 South Str...
23    {'description': '', 'address1': '329 Bryant St...
24    {'description': '', 'address1': '409 S Santa M...
25    {'description': '', 'address1': '8 Clifford St...
26    {'description': 'HQ', 'address1': 'One Broadwa...
27    {'description': None, 'address1': None, 'addre...
28    {'description': '', 'address1': '', 'address2'...
29    {'description': '', 'address1': '315 5th Ave S...
...                                                 ...
2124  {'description': 'Tiverias Apps LLC.', 'address...
2125  {'description': 'New York', 'address1': 'PO Bo...
2126  {'description': 'Mailing Address', 'address1':...
2127  {'description': 'Headquarters', 'address1': '7...
2128  {'description': 'HOTForms123', 'address1': '46...
2129  {'description': 'HQ', 'address1': '150 Munson ...
2130  {'description': 'Vancouver Office', 'address1'...
2131  {'description': 'Los Angeles', 'address1': '10...
2132  {'description': 'Oxford Office', 'address1': '...
2133  {'description': 'Base', 'address1': '', 'addre...
2134  {'description': '', 'address1': '11 Lupine Ave...
2135  {'description': 'Miami Office', 'address1': '2...
2136  {'description': 'Head Office', 'address1': '96...
2137  {'description': 'Headquarters', 'address1': 'S...
2138  {'description': '', 'address1': '143 Varick St...
2139  {'description': 'Primary Office', 'address1': ...
2140  {'description': 'New York', 'address1': '32-14...
2140  {'description': 'Houston', 'address1': '2208 C...
2141  {'description': 'HQ', 'address1': '', 'address...
2142  {'description': 'Jelli, Inc.', 'address1': '4 ...
2143  {'description': '', 'address1': '163 Hastings ...
2144  {'description': 'Lisbon Office', 'address1': '...
2145  {'description': '', 'address1': '108 boulevard...
2146  {'description': 'Toronto Office', 'address1': ...
2147  {'description': 'Main Office', 'address1': '68...
2148  {'description': '', 'address1': '', 'address2'...
2149  {'description': '198 High Holborn', 'address1'...
2150  {'description': 'Headquarters', 'address1': ''...
2150  {'description': 'Menlo Park Office', 'address1...
2151  {'description': 'HQ', 'address1': 'Rue des Tan...

[2292 rows x 1 columns]

In [190]:
#get latitude, longitude and office ID

def getOffices(offices):
    offices = offices['office']
    principal = None
    if offices['latitude'] and offices ['longitude']:
        
        principal = {
            "type":"Point",
            "coordinates":[offices['longitude'], offices['latitude']]
        }

        return {
            "long": offices['longitude'],
            "lat": offices['latitude'],
            "oficina": principal
        }
            

offices = df_clean[['office']].apply(getOffices, result_type="expand", axis=1)
offices.head(100)

          lat        long                                            oficina
0   37.789634 -122.404052  {'type': 'Point', 'coordinates': [-122.404052,...
1   40.757929  -73.985506  {'type': 'Point', 'coordinates': [-73.985506, ...
2   34.017606 -118.487267  {'type': 'Point', 'coordinates': [-118.487267,...
3   40.726155  -73.995625  {'type': 'Point', 'coordinates': [-73.995625, ...
4   40.801358  -74.337200  {'type': 'Point', 'coordinates': [-74.3372, 40...
5   37.762541 -122.397224  {'type': 'Point', 'coordinates': [-122.397224,...
6   37.269175 -119.306607  {'type': 'Point', 'coordinates': [-119.306607,...
7   37.269175 -119.306607  {'type': 'Point', 'coordinates': [-119.306607,...
8   52.374523    4.894862  {'type': 'Point', 'coordinates': [4.8948623, 5...
9   37.369650 -122.024210  {'type': 'Point', 'coordinates': [-122.02421, ...
10  37.900770 -122.511687  {'type': 'Point', 'coordinates': [-122.511687,...
11  37.775196 -122.419204  {'type': 'Point', 'coordinates': [-122.419204,...
12  37.796164 -122.420903  {'type': 'Point', 'coordinates': [-122.420903,...
13  37.782263 -122.392142  {'type': 'Point', 'coordinates': [-122.392142,...
14  37.779392 -122.417928  {'type': 'Point', 'coordinates': [-122.417928,...
15  37.400465 -122.073003  {'type': 'Point', 'coordinates': [-122.073003,...
16 -23.558584  -46.679287  {'type': 'Point', 'coordinates': [-46.679287, ...
17  40.270666  -74.761403  {'type': 'Point', 'coordinates': [-74.761403, ...
18  38.072936 -122.187963  {'type': 'Point', 'coordinates': [-122.1879633...
19  37.564605 -122.322924  {'type': 'Point', 'coordinates': [-122.3229235...
20  40.018673 -105.276224  {'type': 'Point', 'coordinates': [-105.2762236...
21  40.010492 -105.276843  {'type': 'Point', 'coordinates': [-105.276843,...
22  42.358920  -71.057810  {'type': 'Point', 'coordinates': [-71.05781, 4...
23  37.789488 -122.397593  {'type': 'Point', 'coordinates': [-122.397593,...
24  34.018275 -118.495025  {'type': 'Point', 'coordinates': [-118.495025,...
25  51.510880   -0.141897  {'type': 'Point', 'coordinates': [-0.1418973, ...
26  42.358822  -71.104329  {'type': 'Point', 'coordinates': [-71.104329, ...
27  47.597965 -122.151158  {'type': 'Point', 'coordinates': [-122.151158,...
28  37.775196 -122.419204  {'type': 'Point', 'coordinates': [-122.419204,...
29  47.599934 -122.327696  {'type': 'Point', 'coordinates': [-122.3276962...
..        ...         ...                                                ...
70  26.820375  -80.058401  {'type': 'Point', 'coordinates': [-80.058401, ...
71  40.532457  -74.453466  {'type': 'Point', 'coordinates': [-74.453466, ...
72  37.090240  -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
72  37.774929 -122.419415  {'type': 'Point', 'coordinates': [-122.4194155...
73  37.090240  -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
74  40.750800  -73.996122  {'type': 'Point', 'coordinates': [-73.996122, ...
75  32.055400   34.759500  {'type': 'Point', 'coordinates': [34.7595, 32....
76  47.680496 -122.120938  {'type': 'Point', 'coordinates': [-122.120938,...
77  29.804863  -95.491580  {'type': 'Point', 'coordinates': [-95.49158, 2...
78  42.524527  -71.137784  {'type': 'Point', 'coordinates': [-71.137784, ...
79  40.565602  -74.331811  {'type': 'Point', 'coordinates': [-74.331811, ...
80  37.402802 -122.117418  {'type': 'Point', 'coordinates': [-122.117418,...
81  33.994162 -118.463710  {'type': 'Point', 'coordinates': [-118.46371, ...
82  40.797364  -73.977850  {'type': 'Point', 'coordinates': [-73.97785, 4...
83  37.763652 -122.421778  {'type': 'Point', 'coordinates': [-122.421778,...
84  47.639901 -122.191427  {'type': 'Point', 'coordinates': [-122.1914274...
85  41.883551  -87.636411  {'type': 'Point', 'coordinates': [-87.636411, ...
86  37.798853 -122.398599  {'type': 'Point', 'coordinates': [-122.398599,...
87  40.521502  -74.275771  {'type': 'Point', 'coordinates': [-74.275771, ...
87  32.718834 -117.163841  {'type': 'Point', 'coordinates': [-117.163841,...
88  49.225902   16.569282  {'type': 'Point', 'coordinates': [16.5692822, ...
89  37.090240  -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
90  51.522413   -0.092690  {'type': 'Point', 'coordinates': [-0.0926903, ...
91  37.090240  -95.712891  {'type': 'Point', 'coordinates': [-95.712891, ...
92  39.851338 -105.139804  {'type': 'Point', 'coordinates': [-105.139804,...
93  37.789129 -122.402028  {'type': 'Point', 'coordinates': [-122.4020276...
94  34.031764 -118.461884  {'type': 'Point', 'coordinates': [-118.461884,...
95  37.290603 -121.931785  {'type': 'Point', 'coordinates': [-121.9317853...
96  37.775196 -122.419204  {'type': 'Point', 'coordinates': [-122.419204,...
97  37.788266 -122.403865  {'type': 'Point', 'coordinates': [-122.403865,...

[100 rows x 3 columns]

In [191]:
#Concatenar dos dataframes

df_concat = pd.concat([df_clean,offices], axis=1)
df_concat.head()

,name,number_of_employees,category_code,office,ipo,total_money_raised,founded_year,deadpooled_year,offices,lat,long,oficina
0,Scribd,50,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,2007,None,"[{'description': 'HQ', 'address1': '539 Bryant...",37.789634,-122.404052,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,MeetMoi,15,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,2007,None,"[{'description': None, 'address1': '', 'addres...",40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,Mahalo,40,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,2007,None,"[{'description': '', 'address1': '3525 Eastham...",34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,..."
3,Livestream,120,games_video,"{'description': 'Livestream HQ', 'address1': '...",None,$14.7M,2007,None,"[{'description': 'Livestream HQ', 'address1': ...",40.726155,-73.995625,"{'type': 'Point', 'coordinates': [-73.995625, ..."
4,AdaptiveBlue,15,games_video,"{'description': '', 'address1': '131 Varick St...",None,$24M,2007,None,"[{'description': '', 'address1': '131 Varick S...",40.801358,-74.337200,"{'type': 'Point', 'coordinates': [-74.3372, 40..."

In [192]:
#Get API for exchange rate

url = "https://api.exchangeratesapi.io/latest?base=USD"
res = requests.get(url)
rates = res.json()
print(rates)

{'rates': {'CAD': 1.3113190731, 'HKD': 7.8156862745, 'ISK': 126.4705882353, 'PHP': 51.4759358289, 'DKK': 6.6521390374, 'HUF': 290.4634581105, 'CZK': 22.7852049911, 'GBP': 0.8014973262, 'RON': 4.2188057041, 'SEK': 9.4557040998, 'IDR': 14130.0, 'INR': 68.5837789661, 'BRL': 3.7954545455, 'RUB': 63.5200534759, 'HRK': 6.5895721925, 'JPY': 108.9126559715, 'THB': 30.825311943, 'CHF': 0.9922459893, 'EUR': 0.8912655971, 'MYR': 4.1385026738, 'BGN': 1.7431372549, 'TRY': 5.7395721925, 'CNY': 6.8829768271, 'NOK': 8.6390374332, 'NZD': 1.5148841355, 'ZAR': 14.1599821747, 'USD': 1.0, 'MXN': 19.1997326203, 'SGD': 1.3609625668, 'AUD': 1.444741533, 'ILS': 3.5721925134, 'KRW': 1181.1140819964, 'PLN': 3.8090909091}, 'base': 'USD', 'date': '2019-07-10'}

In [193]:
#get currency types


x = []
for i in df_concat['total_money_raised']:
    y=re.findall("^\D+",i)
    if y not in x:
        x.append(y)
        
print(x)

[['$'], ['€'], ['£'], ['C$']]

In [194]:
def dropSpaces(currency):
    return currency.rstrip()
    

with_coords2['total_money_raised'] = with_coords2['total_money_raised'].apply(dropSpaces)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [195]:
def coinsValues_USD(currency):
    curr_float = float(re.search("\d*\.\d*|\d+", currency)[0])    
    if currency.endswith("M"):
        curr_float= curr_float*1000000
    if currency.endswith("B"):
        curr_float= curr_float*1000000000
    if currency.endswith("k"):
        curr_float= curr_float*1000
    if currency.startswith("€"): 
        curr_float = curr_float*rates['rates']['EUR']
    if currency.startswith("$"): 
        curr_float = curr_float
    if currency.startswith("£"):
        curr_float = curr_float*rates['rates']['GBP']
    if currency.startswith("C$"):
        curr_float = curr_float*rates['rates']['SEK']
    return int(curr_float)

df_concat['total_USD_raised'] = df_concat['total_money_raised'].apply(coinsValues_USD)


df_concat.head(100)

,name,number_of_employees,category_code,office,ipo,total_money_raised,founded_year,deadpooled_year,offices,lat,long,oficina,total_USD_raised
0,Scribd,50,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,2007,None,"[{'description': 'HQ', 'address1': '539 Bryant...",37.789634,-122.404052,"{'type': 'Point', 'coordinates': [-122.404052,...",25800000
1,MeetMoi,15,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,2007,None,"[{'description': None, 'address1': '', 'addres...",40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ...",5580000
2,Mahalo,40,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,2007,None,"[{'description': '', 'address1': '3525 Eastham...",34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,...",21000000
3,Livestream,120,games_video,"{'description': 'Livestream HQ', 'address1': '...",None,$14.7M,2007,None,"[{'description': 'Livestream HQ', 'address1': ...",40.726155,-73.995625,"{'type': 'Point', 'coordinates': [-73.995625, ...",14700000
4,AdaptiveBlue,15,games_video,"{'description': '', 'address1': '131 Varick St...",None,$24M,2007,None,"[{'description': '', 'address1': '131 Varick S...",40.801358,-74.337200,"{'type': 'Point', 'coordinates': [-74.3372, 40...",24000000
5,Pownce,6,web,"{'description': '', 'address1': '1459 18th Str...",None,$0,2007,None,"[{'description': '', 'address1': '1459 18th St...",37.762541,-122.397224,"{'type': 'Point', 'coordinates': [-122.397224,...",0
6,CriticalMetrics,4,web,"{'description': None, 'address1': None, 'addre...",None,$100k,2007,None,"[{'description': None, 'address1': None, 'addr...",37.269175,-119.306607,"{'type': 'Point', 'coordinates': [-119.306607,...",100000
7,SodaHead,25,web,"{'description': '', 'address1': '16161 Ventura...",None,$12.7M,2007,None,"[{'description': '', 'address1': '16161 Ventur...",37.269175,-119.306607,"{'type': 'Point', 'coordinates': [-119.306607,...",12700000
8,Wakoopa,8,web,"{'description': 'Arts & Crafts', 'address1': '...",None,$1M,2007,None,"[{'description': 'Arts & Crafts', 'address1': ...",52.374523,4.894862,"{'type': 'Point', 'coordinates': [4.8948623, 5...",1000000
9,coRank,0,web,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,"[{'description': None, 'address1': None, 'addr...",37.369650,-122.024210,"{'type': 'Point', 'coordinates': [-122.02421, ...",0
10,CrowdVine,10,web,"{'description': '', 'address1': '53 S Knoll Rd...",None,$0,2007,None,"[{'description': '', 'address1': '53 S Knoll R...",37.900770,-122.511687,"{'type': 'Point', 'coordinates': [-122.511687,...",0
11,Seesmic,13,web,"{'description': '', 'address1': '1550 Bryant S...",None,$16M,2007,None,"[{'description': '', 'address1': '1550 Bryant ...",37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",16000000
12,Cofoundr,0,network_hosting,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,"[{'description': None, 'address1': None, 'addr...",37.796164,-122.420903,"{'type': 'Point', 'coordinates': [-122.420903,...",0
13,GoingOn,40,software,"{'description': 'GoingOn Networks, Inc.', 'add...",None,$8.5M,2008,None,"[{'description': 'GoingOn Networks, Inc.', 'ad...",37.782263,-122.392142,"{'type': 'Point', 'coordinates': [-122.392142,...",8500000
14,FeVote,1,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,"[{'description': '', 'address1': '', 'address2...",37.779392,-122.417928,"{'type': 'Point', 'coordinates': [-122.417928,...",0
15,Buxfer,4,web,"{'description': '', 'address1': '', 'address2'...",None,$315k,2007,None,"[{'description': '', 'address1': '', 'address2...",37.400465,-122.073003,"{'type': 'Point', 'coordinates': [-122.073003,...",315000
16,boo-box,50,advertising,"{'description': 'boo-land', 'address1': 'Av. F...",None,$300k,2007,None,"[{'description': 'boo-land', 'address1': 'Av. ...",-23.558584,-46.679287,"{'type': 'Point', 'coordinates': [-46.679287, ...",300000
17,Scrybe,20,enterprise,"{'description': '', 'address1': '181 Fremont S...",None,$1.31M,2007,None,"[{'description': '', 'address1': '181 Fremont ...",40.270666,-74.761403,"{'type': 'Point', 'coordinates': [-74.761403, ...",1310000
18,Echo,50,enterprise,"{'description': 'headquarter', 'address1': '17...",None,$4.8M,2007,None,"[{'description': 'headquarter', 'address1': '1...",38.072936,-122.187963,"{'type': 'Point', 'coordinates': [-122.1879633...",4800000
19,Inneractive,0,advertising,"{'description': '', 'address1': '300 S Ellswor...",None,$8.5M,2007,None,"[{'description': '', 'address1': '300 S Ellswo...",37.564605,-122.322924,"{'type': 'Point', 'coordinates': [-122.3229235...",8500000
20,Socialthing,5,network_hosting,"{'description': 'HQ', 'address1': '1050 Walnut...",None,$415k,2007,None,"[{'description': 'HQ', 'address1': '1050 Walnu...",40.018673,-105.276224,"{'type': 'Point', 'coordinates': [-105.2762236...",415000
21,Filtrbox,14,web,"{'description': 'HQ', 'address1': '325 Lytton ...",None,$1.92M,2007,None,"[{'description': 'HQ', 'address1': '325 Lytton...",40.010492,-105.276843,"{'type': 'Point', 'coordinates': [-105.276843,...",1920000
22,Cloudant,70,enterprise,"{'description': '', 'address1': '129 South Str...",None,$18.3M,2008,None,"[{'description': '', 'address1': '129 South St...",42.358920,-71.057810,"{'type': 'Point', 'coordinates': [-71.05781, 4...",18300000
23,Zivity,16,network_hosting,"{'description': '', 'address1': '329 Bryant St...",None,$8M,2007,None,"[{'description': '', 'address1': '329 Bryant S...",37.789488,-122.397593,"{'type': 'Point', 'coordinates': [-122.397593,...",8000000
24,Docstoc,40,web,"{'description': '', 'address1': '409 S Santa M...",None,$4M,2007,None,"[{'description': '', 'address1': '409 S Santa ...",34.018275,-118.495025,"{'type': 'Point', 'coordinates': [-118.495025,...",4000000
25,Seedcamp,4,finance,"{'description': '', 'address1': '8 Clifford St...",None,€5M,2007,None,"[{'description': '', 'address1': '8 Clifford S...",51.510880,-0.141897,"{'type': 'Point', 'coordinates': [-0.1418973, ...",4456327
26,LocaModa,0,advertising,"{'description': 'HQ', 'address1': 'One Broadwa...",None,$7.9M,2007,None,"[{'description': 'HQ', 'address1': 'One Broadw...",42.358822,-71.104329,"{'type': 'Point', 'coordinates': [-71.104329, ...",7900000
27,YouBeQB,8,games_video,"{'description': None, 'address1': None, 'addre...",None,$0,2008,None,"[{'description': None, 'address1': None, 'addr...",47.597965,-122.151158,"{'type': 'Point', 'coordinates': [-122.151158,...",0
28,MicroPlace,15,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,"[{'description': '', 'address1': '', 'address2...",37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",0
29,EyeJot,5,web,"{'description': '', 'address1': '315 5th Ave S...",None,$1.15M,2007,None,"[{'description': '', 'address1': '315 5th Ave ...",47.599934,-122.327696,"{'type': 'Point', 'coordinates': [-122.3276962...",1150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,divorce360,6,web,"{'description': None, 'address1': '760 US High...",None,$2.5M,2007,None,"[{'description': None, 'address1': '760 US Hig...",26.820375,-80.058401,"{'type': 'Point', 'coordinates': [-80.058401, ...",2500000
71,eventsbot,10,web,"{'description': None, 'address1': '571 Bucking...",None,$0,2007,None,"[{'description': None, 'address1': '571 Buckin...",40.532457,-74.453466,"{'type': 'Point', 'coordinates': [-74.453466, ...",0
72,Uversity,30,social,"{'description': None, 'address1': None, 'addre...",None,$10.2M,2007,None,"[{'description': None, 'address1': None, 'addr...",37.090240,-95.712891,"{'type': 'Point', 'coordinates': [-95.712891, ...",10200000
72,Uversity,30,social,"{'description': None, 'address1': None, 'addre...",None,$10.2M,2007,None,"[{'description': None, 'address1': None, 'addr...",37.774929,-122.419415,"{'type': 'Point', 'coordinates': [-122.4194155...",10200000
73,eBurl,1,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,"[{'description': None, 'address1': '', 'addres...",37.090240,-95.712891,"{'type': 'Point', 'coordinates': [-95.712891, ...",0
74,GoLark,3,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,"[{'description': None, 'address1': '', 'addres...",40.750800,-73.996122,"{'type': 'Point', 'coordinates': [-73.996122, ...",0
75,Flixwagon,10,mobile,"{'description': None, 'address1': None, 'addre...",None,$2.5M,2007,None,"[{'description': None, 'address1': None, 'addr...",32.055400,34.759500,"{'type': 'Point', 'coordinates': [34.7595, 32....",2500000
76,Picktastic,2,games_video,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,"[{'description': None, 'address1': None, 'addr...",47.680496,-122.120938,"{'type': 'Point', 'coordinates': [-122.120938,...",0
77,CareFlash,0,web,"{'description': 'CareFlash LLC', 'address1': '...",None,$600k,2007,None,"[{'description': 'CareFlash LLC', 'address1': ...",29.804863,-95.491580,"{'type': 'Point', 'coordinates': [-95.49158, 2...",600000
78,Acquia,400,enterprise,"{'description': 'HQ', 'address1': '25 Corporat...",None,$68.5M,2007,None,"[{'description': 'HQ', 'address1': '25 Corpora...",42.524527,-71.137784,"{'type': 'Point', 'coordinates': [-71.137784, ...",68500000
79,LiveHire,5,games_video,"{'description': None, 'address1': '510 Thornal...",None,$0,2007,None,"[{'description': None, 'address1': '510 Thorna...",40.565602,-74.331811,"{'type': 'Point', 'coordinates': [-74.331811, ...",0
80,TravelMuse,11,web,"{'description': '', 'address1': '55 Broad Stre...",None,$5.6M,2007,None,"[{'description': '', 'address1': '55 Broad Str...",37.402802,-122.117418,"{'type': 'Point', 'coordinates': [-122.117418,...",5600000
81,Driftr,0,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,"[{'description': None, 'address1': '', 'addres...",33.994162,-118.463710,"{'type': 'Point', 'coordinates': [-118.46371, ...",0
82,Orglex,0,web,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,"[{'description': None, 'address1': None, 'addr...",40.797364,-73.977850,"{'type': 'Point', 'coordinates': [-73.97785, 4...",0
83,Mogad,2,network_hosting,"{'description': None, 'address1': '579 Valenci...",None,$500k,2007,None,"[{'description': None, 'address1': '579 Valenc...",37.763652,-122.421778,"{'type': 'Point', 'coordinates': [-122.421778,...",500000
84,Livemocha,35,education,"{'description': '', 'address1': '1011 Western ...",None,$19.4M,2007,None,"[{'description': '', 'address1': '1011 Western...",47.639901,-122.191427,"{'type': 'Point', 'coordinates': [-122.1914274...",19400000
85,Mpayy,2,ecommerce,"{'description': None, 'address1': '101 N Wacke...",None,$0,2007,None,"[{'description': None, 'address1': '101 N Wack...",41.883551,-87.636411,"{'type': 'Point', 'coordinates': [-87.636411, ...",0
86,Widgetbox,30,other,"{'description': None, 'address1': None, 'addre...",None,$14.5M,2012,None,"[{'description': None, 'address1': None, 'addr...",37.798853,-122.398599,"{'type': 'Point', 'coordinates': [-122.398599,...",14500000
87,CheerOutLoud,0,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,"[{'description': '', 'address1': '', 'address2...",40.521502,-74.275771,"{'type': 'Point', 'coordinates': [-74.275771, ...",0
87,CheerOutLoud,0,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,"[{'description': '', 'address1': '', 'address2...",32.718834,-117.163841,"{'type': 'Point', 'coordinates': [-117.163841,...",0
88,Webnode,30,network_hosting,"{'description': '', 'address1': 'U vodarny 2',...",None,$0,2008,None,"[{'description': '', 'address1': 'U vodarny 2'...",49.225902,16.569282,"{'type': 'Point', 'coordinates': [16.5692822, ...",0
89,Frevvo,10,web,"{'description': None, 'address1': None, 'addre...",None,$500k,2007,None,"[{'description': None, 'address1': None, 'addr...",37.090240,-95.712891,"{'type': 'Point', 'coordinates': [-95.712891, ...",500000
90,UnLtdWorld,4,enterprise,"{'description': '', 'address1': '123 Whitecros...",None,£250k,2007,None,"[{'description': '', 'address1': '123 Whitecro...",51.522413,-0.092690,"{'type': 'Point', 'coordinates': [-0.0926903, ...",200374
91,Boobik,3,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,"[{'description': '', 'address1': '', 'address2...",37.090240,-95.712891,"{'type': 'Point', 'coordinates': [-95.712891, ...",0
92,Blogonize,1,web,"{'description': None, 'address1': '12459 W 84t...",None,$0,2007,None,"[{'description': None, 'address1': '12459 W 84...",39.851338,-105.139804,"{'type': 'Point', 'coordinates': [-105.139804,...",0
93,Roost,15,software,"{'description': '', 'address1': '50 Beale St. ...",None,$13.5M,2007,None,"[{'description': '', 'address1': '50 Beale St....",37.789129,-122.402028,"{'type': 'Point', 'coordinates': [-122.4020276...",13500000
94,WonderHowTo,12,games_video,"{'description': None, 'address1': '1832 Frankl...",None,$0,2008,None,"[{'description': None, 'address1': '1832 Frank...",34.031764,-118.461884,"{'type': 'Point', 'coordinates': [-118.461884,...",0
95,clipsync,28,web,"{'description': '', 'address1': 'Pier 33 South...",None,$1.51M,2007,None,"[{'description': '', 'address1': 'Pier 33 Sout...",37.290603,-121.931785,"{'type': 'Point', 'coordinates': [-121.9317853...",1510000
96,Heroku,80,enterprise,"{'description': None, 'address1': '', 'address...",None,$13M,2007,None,"[{'description': None, 'address1': '', 'addres...",37.775196,-122.419204,"{'type': 'Point', 'coordinates': [-122.419204,...",13000000
97,Lookery,9,web,"{'description': 'West Coast', 'address1': '25 ...",None,$3.15M,2007,None,"[{'description': 'West Coast', 'address1': '25...",37.788266,-122.403865,"{'type': 'Point', 'coordinates': [-122.403865,...",3150000

In [196]:
#reshape columns and get dimensions
df_concat = df_concat [['name','office','lat','long','oficina','category_code','number_of_employees','total_USD_raised','founded_year','deadpooled_year']]
df_concat.shape

(2292, 10)

In [198]:
#export json

df_concat.to_json('offices1.json', orient='records')