In [9]:
from pymongo import MongoClient
import pandas as pd
import json

client = MongoClient('mongodb://localhost:27017/')
db = client.company

In [10]:
query = db.geoqueries.find({"$and":
    [{"total_USD_raised":{"$gte":1000000}},
     {"$or":[{"category_code":"web"},
        {"category_code":"design"},
             {"category_code":"games_video"}]}]})

In [11]:
data_clean= pd.DataFrame(query)
data_clean.head()

,_id,category_code,deadpooled_year,founded_year,lat,long,name,number_of_employees,office,oficina,total_USD_raised
0,5d2613a4ba9f1bf3ba300bc3,games_video,None,2007,37.789634,-122.404052,Livestream,120,"{'description': 'Livestream HQ', 'address1': '...","{'type': 'Point', 'coordinates': [-122.404052,...",14700000
1,5d2613a4ba9f1bf3ba300bc4,web,None,2007,37.789634,-122.404052,Mahalo,40,"{'description': '', 'address1': '3525 Eastham ...","{'type': 'Point', 'coordinates': [-122.404052,...",21000000
2,5d2613a4ba9f1bf3ba300bc7,games_video,None,2007,37.789634,-122.404052,AdaptiveBlue,15,"{'description': '', 'address1': '131 Varick St...","{'type': 'Point', 'coordinates': [-122.404052,...",24000000
3,5d2613a4ba9f1bf3ba300bca,web,None,2007,37.789634,-122.404052,SodaHead,25,"{'description': '', 'address1': '16161 Ventura...","{'type': 'Point', 'coordinates': [-122.404052,...",12700000
4,5d2613a4ba9f1bf3ba300bcb,web,None,2007,37.789634,-122.404052,Wakoopa,8,"{'description': 'Arts & Crafts', 'address1': '...","{'type': 'Point', 'coordinates': [-122.404052,...",1000000

In [12]:
data_clean = data_clean [['name','category_code','founded_year','lat','long','office','oficina','total_USD_raised']]

In [13]:
data_clean.to_json('df_offices2.json', orient= 'records')